* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

header {
    text-align: center;
    color: #fff;
    background: url(../images/header02.jpg) center no-repeat;
    background-size: cover;
}
header .nav-bar-div {
    padding: 25px 0;
}
header ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center
}

header ul li {
    text-transform: uppercase;
    margin-right: 40px;
    cursor: pointer;
}

header ul .page-name {
    font-size: 30px;
}

header .outline-par {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 1.7em;
    font-style: italic;
}

header .inline-par {
    text-transform: uppercase;
    font-size: 3em;
    margin-bottom: 30px;
    letter-spacing: 7px;
}

header div button {
    margin: 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: transparent;
    text-transform: uppercase;
    cursor: pointer;
    color: white
}

/* ******************section one *********** */
.sec-one .section-cont {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 50px 0;
}
.sec-one .section-cont div {
    width: 30%
}

.sec-one .section-cont div p:first-of-type {
    border: 2px solid orange;
    border-radius: 50%;
    display: inline-block;
    padding: 20px;
    background-color: orange;
    color: white;
}

.sec-one .section-cont div p:nth-of-type(2) {
    margin: 40px 0 15px;
}

.sec-one .section-cont div p:last-of-type {
    color: #777;
}

/* *********** section two ************* */

.sec-two {
    background-color: #333;
    text-align: center;
    padding: 50px 0;
}

.sec-two .section-cont h3 {
    color: #bbb;
    text-transform: uppercase;
    font-size: 1.5em;
    margin-bottom: 30px;
}

.sec-two .section-cont .content {
    width: 50%;
    display: inline-block;
    color: #999;
    margin-bottom: 10px;
}

.sec-two .section-cont .said-name {
    text-transform: uppercase;
    color: orange;
    margin: 20px 0;
}

/* ********** section three ********** */

.portfolio .portfolio-head {
    text-align: center;
    text-transform: uppercase;
    margin: 50px 0;
    font-size: 25px;
}

.portfolio .layouts {
    display: flex;
    flex-wrap: wrap;
}

.portfolio .layouts img {
    width: 25%;
}

.portfolio .layouts-text {
    margin: 100px 80px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.portfolio .layouts-text .layouts-text-div {
    width: 30%;
    margin-bottom: 40px;
}

.portfolio .layouts-text .layouts-text-div .layouts-head {
    font-size: 25px;
    margin-bottom: 10px;
}

.portfolio .layouts-text .layouts-text-div .layouts-par {
    color: #bbb
}